.GameChart {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.GameChartPie {
	width: 300px;
	padding: 20px;
}

.GameChartBoard {
	border: 2px solid black;
	padding: 30px;
	margin: 30px;
}